<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</head>
<body>

<canvas id="myChart" style="width:1500%;max-width:1500px"></canvas>

<script>
var xValues = {{ TemplateExpenseDate | safe  }};
var yValues = {{ TemplateExpenseAmount }};
var barColors = {{ TemplateColor | safe }}

new Chart("myChart", {
  type: "bar",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: true,
      text: " {{ TemplateTitle }} "
    }
  }
});

</script>

<h3> {{ TemplateBanner }} </h3>

</body>
</html>
